<a href="https://colab.research.google.com/github/Prema-jyothi11/Customer-analysis-in-bank/blob/main/Customer_analysis_in_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Customer Insights and Trends in Banking**

In [ ]:
# to get better visualisation we are using colab and sqlite3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get install sqlite3
!pip install pandas

^C
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#Define the correct path for the database
db_path = "/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/sqldb"
os.makedirs(db_folder, exist_ok=True) #Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:",db_path)

Database connected at: /content/drive/MyDrive/sqldb/my_database.db

customer table

**TABLE 1**

In [ ]:
cursor.execute('''
CREATE TABLE custer_2(customer_id INT,
               customer_name VARCHAR(20),
               Address VARCHAR(20),
               state_code VARCHAR(3),
               Telephone VARCHAR(10));
''')
conn.commit()

OperationalError: table custer_2 already exists

In [ ]:

def insert_custer_2(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO CUSTER_2(customer_id,customer_name,Address,state_code,Telephone) values(?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

In [ ]:
insert_custer_2(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500");
insert_custer_2(123002,"George", "194-6,New brighton","MN" , "1897617000");
insert_custer_2(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866");
insert_custer_2(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999");
insert_custer_2(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000");
insert_custer_2(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200");
insert_custer_2(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666");
insert_custer_2(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000");

In [ ]:
#delete all data to insert new data
"""table_name="custer_2"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate


#Fetch data
cursor.execute("SELECT * FROM CUSTER_2")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#Print in tabular format
print(tabulate(rows,headers=column_names, tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

**TABLE 2**

Bank_customer_export

In [ ]:
cursor.execute('''
CREATE TABLE CUSTOMER_EXPORT (customer_id CHAR(10),
customer_name CHAR(20),
Address CHAR(20),
state_code  CHAR(3) ,
Telephone  CHAR(10));
''')
conn.commit()

OperationalError: table CUSTOMER_EXPORT already exists

In [ ]:
def insert_CUSTOMER_EXPORT(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO CUSTOMER_EXPORT(customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

In [ ]:
insert_CUSTOMER_EXPORT("123001 ","Oliver", "225-5, Emeryville", "CA" , "1897614500") ;
insert_CUSTOMER_EXPORT ("123002 ","George", "194-6,New brighton","MN" , "189761700");

In [ ]:
#delete all data to insert new data
"""table_name="CUSTOMER_EXPORT"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate


#Fetch data
cursor.execute("SELECT * FROM CUSTOMER_EXPORT")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular formate
print(tabulate(rows,headers=column_names, tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|       123001  | Oliver          | 225-5, Emeryville  | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|       123002  | George          | 194-6,New brighton | MN           |   189761700 |
+---------------+-----------------+--------------------+--------------+-------------+

**TABLE 3**

Bank_Account_Details

In [ ]:
cursor.execute('''
CREATE TABLE Bnk_Acc_Details(Customer_id INT,
                             	Account_Number VARCHAR(19),
                              	Account_type VARCHAR(25),
                           	    Balance_amount INT,
                               	Account_status VARCHAR(10),
                               	Relationship_type varchar(1) ) ;
''')
conn.commit()

In [ ]:
def insert_Bnk_Acc_Details(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type):
  cursor.execute("INSERT INTO Bnk_Acc_Details (customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type) VALUES (?,?,?,?,?,?)",(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type))
  conn.commit()

In [ ]:
insert_Bnk_Acc_Details(123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P");
insert_Bnk_Acc_Details (123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S");
insert_Bnk_Acc_Details(123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P");
insert_Bnk_Acc_Details(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
insert_Bnk_Acc_Details(123003, "4000-1956-2900",  "SAVINGS" ,750000,"INACTIVE","P");
insert_Bnk_Acc_Details(123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
insert_Bnk_Acc_Details(123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P");
insert_Bnk_Acc_Details(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P");
insert_Bnk_Acc_Details(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P");
insert_Bnk_Acc_Details(123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P");
insert_Bnk_Acc_Details(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S");
insert_Bnk_Acc_Details(123007, "9000-1700-7777-4321",  "Credit Card"	,0  ,"INACTIVE", "P");
insert_Bnk_Acc_Details(123007, '5900-1900-9877-5543', "Add-on Credit Card" ,   0   ,"ACTIVE", "S");
insert_Bnk_Acc_Details(123008, "5000-1700-7755",  "SAVINGS"   	,0   	,"INACTIVE","P");
insert_Bnk_Acc_Details(123006, '5800-1700-9800-7755', "Credit Card"   ,0   	,"ACTIVE", "P");
insert_Bnk_Acc_Details(123006, '5890-1970-7706-8912', "Add-on Credit Card"   ,0   	,"ACTIVE", "S");

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
#delete all data to insert new data
"""table_name="Bnk_Acc_Details"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM Bnk_Acc_Details")
rows=cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**Table 4**

Bank_Account_Relationship_details

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Acc_Relationship_Details1
                             	( Customer_id INT,
								              Account_Number VARCHAR(19),
                            	Account_type VARCHAR(25),
                             	Linking_Account_Number VARCHAR(19));
''')
conn.commit()

In [ ]:
def insert_Bank_Acc_Relationship_Details1(customer_id,Account_Number,Account_type,Linking_Account_Number):
  cursor.execute("INSERT INTO Bank_Acc_Relationship_Details1(customer_id,Account_Number,Account_type,Linking_Account_Number) VALUES (?,?,?,?)",(customer_id,Account_Number,Account_type,Linking_Account_Number))
  conn.commit()

In [ ]:
insert_Bank_Acc_Relationship_Details1(123001, "4000-1956-3456",  "SAVINGS" , "");
insert_Bank_Acc_Relationship_Details1(123001, "5000-1700-3456",  "RECURRING DEPOSITS" , "4000-1956-3456");
insert_Bank_Acc_Relationship_Details1(123002, "4000-1956-2001",  "SAVINGS" , "" );
insert_Bank_Acc_Relationship_Details1(123002, "5000-1700-5001",  "RECURRING DEPOSITS" , "4000-1956-2001" );
insert_Bank_Acc_Relationship_Details1(123003, "4000-1956-2900",  "SAVINGS" , "" );
insert_Bank_Acc_Relationship_Details1(123004, "5000-1700-6091",  "RECURRING DEPOSITS" , "4000-1956-2900" );
insert_Bank_Acc_Relationship_Details1(123004, "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900" );
insert_Bank_Acc_Relationship_Details1(123007, "5000-1700-9800",  "SAVINGS" , "" );
insert_Bank_Acc_Relationship_Details1(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" );
insert_Bank_Acc_Relationship_Details1("NULL", "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" );
insert_Bank_Acc_Relationship_Details1("NULL", '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' );
insert_Bank_Acc_Relationship_Details1("NULL", '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' );
insert_Bank_Acc_Relationship_Details1("NULL", '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' );

In [ ]:
!pip install tabulate

In [ ]:
#delete all data to insert new data
"""table_name="Bank_Acc_Relationship_Details1"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
from tabulate import tabulate

#Fetch data
cursor.execute("SELECT * FROM Bank_Acc_Relationship_Details1")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
| Customer_id   | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
| 123001        | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123001        | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
| 123003        | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

**Table 5**

Bank_account_Transaction

In [ ]:
cursor.execute('''
CREATE TABLE BK_ACCOUNT_TRANSACTION (
              	Account_Number VARCHAR(19),
              	Transaction_amount Decimal(18,2) ,
              	Transaction_channel VARCHAR(18) ,
             	Province varchar(3) ,
             	Transaction_Date Date) ;
''')
conn.commit()

In [ ]:
def insert_BK_ACCOUNT_TRANSACTION (Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date):
    cursor.execute("INSERT INTO BK_ACCOUNT_TRANSACTION (Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date) VALUES (?,?,?,?,?)",(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date))
    conn.commit()

In [ ]:
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-3456",  -2000, "ATM withdrawl" , "CA", "2020-01-13")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-2001",  -4000, "POS-Walmart"   , "MN", "2020-02-14")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-2001",  -1600, "UPI transfer"  , "MN", "2020-01-19")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15")
insert_BK_ACCOUNT_TRANSACTION( "5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BK_ACCOUNT_TRANSACTION( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27")
insert_BK_ACCOUNT_TRANSACTION( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16")
insert_BK_ACCOUNT_TRANSACTION( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17")
insert_BK_ACCOUNT_TRANSACTION( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13")
insert_BK_ACCOUNT_TRANSACTION( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21")
insert_BK_ACCOUNT_TRANSACTION( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13")
insert_BK_ACCOUNT_TRANSACTION( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12") ;

In [ ]:
insert_BK_ACCOUNT_TRANSACTION('4000-1956-9977' ,    10000.00     ,'ECS transfer',     'MN' ,    '2020-02-16' ) ;
insert_BK_ACCOUNT_TRANSACTION('4000-1956-9977' ,    40000.00     ,'ECS transfer',     'MN' ,    '2020-03-18' ) ;
insert_BK_ACCOUNT_TRANSACTION('4000-1956-9977' ,    60000.00     ,'ECS transfer',     'MN' ,    '2020-04-18' ) ;
insert_BK_ACCOUNT_TRANSACTION('4000-1956-9977' ,    20000.00     ,'ECS transfer',     'MN' ,    '2020-03-20' ) ;
insert_BK_ACCOUNT_TRANSACTION('4000-1956-9977' ,    49000.00     ,'ECS transfer',     'MN' ,    '2020-06-18' ) ;

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
#delete all data to insert new data
"""table_name="BK_ACCOUNT_TRANSACTION"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
from tabulate import tabulate

#Fetch data
cursor.execute("SELECT * FROM BK_ACCOUNT_TRANSACTION")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names, tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transaction_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                10000 | ECS transfer          | MN         | 2020-02-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                40000 | ECS transfer          | MN         | 2020-03-18         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                60000 | ECS transfer          | MN         | 2020-04-18         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                20000 | ECS transfer          | MN         | 2020-03-20         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                49000 | ECS transfer          | MN         | 2020-06-18         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**Table 6**

BANK_CUSTOMER_MASSAGES

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_MESSAGES(Event,Customer_message,Notice_delivery_mode):
  cursor.execute("INSERT INTO BANK_CUSTOMER_MESSAGES (Event,Customer_message,Notice_delivery_mode) VALUES (?,?,?)",(Event,Customer_message,Notice_delivery_mode))
  conn.commit()

In [ ]:
insert_BANK_CUSTOMER_MESSAGES( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" ) ;
insert_BANK_CUSTOMER_MESSAGES( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" );

In [ ]:
#delete all data to insert new data
"""table_name="BANK_CUSTOMER_MESSAGES"
cursor.execute(f"DELETE FROM {table_name}")
conn.commit()"""

In [ ]:
from tabulate import tabulate

#Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names, tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

**Table 7**

BANK_INTEREST_RATE

In [ ]:
cursor.execute('''
CREATE TABLE BANK_INTEREST_RATE(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);
''')
conn.commit()

In [ ]:
def insert_BANK_INTEREST_RATE(account_type,interest_rate,month,year):
  cursor.execute("INSERT INTO BANK_INTEREST_RATE(account_type,interest_rate,month,year) VALUES (?,?,?,?)",(account_type,interest_rate,month,year))
  conn.commit()

In [ ]:
insert_BANK_INTEREST_RATE( "SAVINGS" , 0.04 , '02' , '2020' );
insert_BANK_INTEREST_RATE( "RECURRING DEPOSITS" , 0.07, '02' , '2020' );
insert_BANK_INTEREST_RATE( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_INTEREST_RATE ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

##QUESTION 1:

#1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)

In [ ]:
import pandas as pd

In [ ]:
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.balance_amount) AS avg_balance
FROM custer_2 c
LEFT JOIN Bnk_Acc_Details a ON c.customer_id = a.customer_id
GROUP BY c.customer_id, c.customer_name
LIMIT 8;  -- Show only 8 rows
"""

result = pd.read_sql_query(query,conn)
print(tabulate(result, headers='keys',tablefmt='psql'))

+----+---------------+-----------------+-----------------+
|    |   customer_id | customer_name   |     avg_balance |
|----+---------------+-----------------+-----------------|
|  0 |        123001 | Oliver          |      4.8e+06    |
|  1 |        123002 | George          |      3.95e+06   |
|  2 |        123003 | Harry           | 750000          |
|  3 |        123004 | Jack            |      4.0775e+06 |
|  4 |        123005 | Jacob           | 300000          |
|  5 |        123006 | Noah            | 151667          |
|  6 |        123007 | Charlie         |      1.845e+06  |
|  7 |        123008 | Robin           |      0          |
+----+---------------+-----------------+-----------------+

#2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
query="""
SELECT
a.customer_id,
a.Account_Number,
CASE
WHEN a.Balance_amount IS NULL OR a.Balance_amount=0 AND a.Account_type='Credit Card'
THEN t.Transaction_amount
ELSE a.Balance_amount
END AS Final_balance
FROM Bnk_Acc_Details a
LEFT JOIN BK_ACCOUNT_TRANSACTION t
ON a.Account_Number=t.Account_Number
WHERE a.Account_type='Credit Card';
"""
result=pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='psql'))

+----+---------------+---------------------+-----------------+
|    |   Customer_id | Account_Number      |   Final_balance |
|----+---------------+---------------------+-----------------|
|  0 |        123007 | 9000-1700-7777-4321 |           -8000 |
|  1 |        123007 | 9000-1700-7777-4321 |           -8000 |
|  2 |        123007 | 9000-1700-7777-4321 |           -5000 |
|  3 |        123007 | 9000-1700-7777-4321 |           -5000 |
|  4 |        123007 | 9000-1700-7777-4321 |           -2500 |
|  5 |        123007 | 9000-1700-7777-4321 |           -2500 |
|  6 |        123006 | 5800-1700-9800-7755 |           -9000 |
|  7 |        123006 | 5800-1700-9800-7755 |           -9000 |
|  8 |        123007 | 9000-1700-7777-4321 |           -8000 |
|  9 |        123007 | 9000-1700-7777-4321 |           -8000 |
| 10 |        123007 | 9000-1700-7777-4321 |           -5000 |
| 11 |        123007 | 9000-1700-7777-4321 |           -5000 |
| 12 |        123007 | 9000-1700-7777-4321 |           -2500 |
| 13 |        123007 | 9000-1700-7777-4321 |           -2500 |
| 14 |        123006 | 5800-1700-9800-7755 |           -9000 |
| 15 |        123006 | 5800-1700-9800-7755 |           -9000 |
+----+---------------+---------------------+-----------------+

#3)Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
query="""
SELECT
  a.Account_Number,
  a.Balance_amount,
  t.Transaction_amount,
  t.Transaction_Date
  FROM Bnk_Acc_Details a
  JOIN BK_ACCOUNT_TRANSACTION t
        ON a.Account_Number = t.Account_Number
  WHERE t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
  limit 12;
  """

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='psql'))

+----+---------------------+------------------+----------------------+--------------------+
|    | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------------+------------------+----------------------+--------------------|
|  0 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
|  1 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|  2 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
|  3 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
|  4 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
|  5 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
|  6 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
|  7 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
|  8 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
|  9 | 4000-1956-9977      |          7025000 |                40000 | 2020-03-18         |
| 10 | 4000-1956-9977      |          7025000 |                60000 | 2020-04-18         |
| 11 | 4000-1956-9977      |          7025000 |                20000 | 2020-03-20         |
+----+---------------------+------------------+----------------------+--------------------+

#4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
query = '''
SELECT
    c.customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_Amount,
    t.Transaction_Date
FROM custer_2 c
JOIN Bnk_Acc_Details a
  ON c.Customer_id = a.Customer_id
JOIN BK_ACCOUNT_TRANSACTION t
   ON a.Account_Number = t.Account_number
WHERE NOT (
    t.Transaction_Date >= '2020-03-01'
    AND t.Transaction_Date<=2020-03-31
)
ORDER BY t.Transaction_Date
'''
result = cursor.execute(query)
print(tabulate(result,headers=[desc[0] for desc in cursor.description],tablefmt='psql'))

+---------------+---------------------+------------------+----------------------+--------------------+
|   customer_id | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|---------------+---------------------+------------------+----------------------+--------------------|
|        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
|        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
|        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
|        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
|        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
|        123007 | 4000-1956-9977      |          7025000 |                10000 | 2020-02-16         |
|        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
|        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
|        123006 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
|        123007 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
|        123005 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
|        123002 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
|        123007 | 4000-1956-9977      |          7025000 |                40000 | 2020-03-18         |
|        123007 | 4000-1956-9977      |          7025000 |                20000 | 2020-03-20         |
|        123002 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
|        123006 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
|        123006 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
|        123007 | 4000-1956-9977      |          7025000 |                60000 | 2020-04-18         |
|        123007 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
|        123002 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|        123007 | 4000-1956-9977      |          7025000 |                49000 | 2020-06-18         |
+---------------+---------------------+------------------+----------------------+--------------------+

 # 5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
query="""
SELECT
a.customer_id,
t.Account_Number,
a.Balance_amount,
t.Transaction_Amount,
t.Transaction_Date
FROM
  Bnk_Acc_Details a
JOIN
  BK_ACCOUNT_TRANSACTION t
ON
  a.Account_Number = t.Account_Number
WHERE
  STRFTIME('%m', t.Transaction_Date) BETWEEN '01' AND '03'
ORDER BY
  a.customer_id, t.Transaction_Date;
"""

cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+------------------+----------------------+--------------------+
|   Customer_id | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
+===============+=====================+==================+======================+====================+
|        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123002 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123005 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123006 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123006 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 4000-1956-9977      |          7025000 |                10000 | 2020-02-16         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 4000-1956-9977      |          7025000 |                40000 | 2020-03-18         |
+---------------+---------------------+------------------+----------------------+--------------------+
|        123007 | 4000-1956-9977      |          7025000 |                20000 | 2020-03-20         |
+---------------+---------------------+------------------+----------------------+--------------------+

## 6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)

In [ ]:
query="""
SELECT
  b.Account_Number,
  m.Event,
  m.Customer_message
FROM
  Bnk_Acc_Details b
 CROSS JOIN
  BANK_CUSTOMER_MESSAGES m
WHERE
  b.Account_type = 'SAVINGS'
  AND m.Event = 'Adhoc';
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+------------------+---------+-------------------------------------------------------------+
| Account_Number   | Event   | Customer_message                                            |
+==================+=========+=============================================================+
| 4000-1956-3456   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2001   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-2900   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-3401   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5102   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 4000-1956-5698   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-9800   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+
| 5000-1700-7755   | Adhoc   | All Banks are closed due to announcement of National strike |
+------------------+---------+-------------------------------------------------------------+

## 7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
query = """
SELECT
  a.customer_id,
  a.Account_Number,
  a.Account_type,
  CASE
     WHEN b.Transaction_amount < 0 THEN a.Balance_amount + b.Transaction_amount
     ELSE a.Balance_amount
  END AS deducted_Balance_amount
FROM
  Bnk_Acc_Details a
JOIN
  BK_ACCOUNT_TRANSACTION b ON a.Account_Number = b.Account_Number
WHERE
  a.Relationship_type = 'P';
  """

cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+----------------+---------------------------+
|   Customer_id | Account_Number      | Account_type   |   deducted_Balance_amount |
+===============+=====================+================+===========================+
|        123001 | 4000-1956-3456      | SAVINGS        |                    198000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    394000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    396000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    397000 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    398400 |
+---------------+---------------------+----------------+---------------------------+
|        123002 | 4000-1956-2001      | SAVINGS        |                    400000 |
+---------------+---------------------+----------------+---------------------------+
|        123004 | 4000-1956-3401      | SAVINGS        |                    655000 |
+---------------+---------------------+----------------+---------------------------+
|        123005 | 4000-1956-5102      | SAVINGS        |                    293500 |
+---------------+---------------------+----------------+---------------------------+
|        123006 | 4000-1956-5698      | SAVINGS        |                    446000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -8000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -5000 |
+---------------+---------------------+----------------+---------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card    |                     -2500 |
+---------------+---------------------+----------------+---------------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card    |                     -9000 |
+---------------+---------------------+----------------+---------------------------+

##8.a) Display records of All Accounts , their Account_types, the transaction amount.
##8.b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
# display records of all accounts, their Account_types, the transaction amount
query = """
SELECT
    a.Account_Number,
    a.Account_type ,
    t.Transaction_amount
FROM
    Bnk_Acc_Details a
JOIN
    BK_ACCOUNT_TRANSACTION t ON a.Account_Number = t.Account_Number  ;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+--------------------+----------------------+
| Account_Number      | Account_type       |   Transaction_amount |
+=====================+====================+======================+
| 4000-1956-3456      | SAVINGS            |                -2000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -6000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -4000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -3000 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                -1600 |
+---------------------+--------------------+----------------------+
| 4000-1956-2001      | SAVINGS            |                23000 |
+---------------------+--------------------+----------------------+
| 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+---------------------+--------------------+----------------------+
| 4000-1956-3401      | SAVINGS            |                 8000 |
+---------------------+--------------------+----------------------+
| 4000-1956-5102      | SAVINGS            |                -6500 |
+---------------------+--------------------+----------------------+
| 4000-1956-5698      | SAVINGS            |                -9000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                10000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                20000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                40000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                49000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+---------------------+--------------------+----------------------+
| 4000-1956-9977      | RECURRING DEPOSITS |                60000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -8000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -5000 |
+---------------------+--------------------+----------------------+
| 9000-1700-7777-4321 | Credit Card        |                -2500 |
+---------------------+--------------------+----------------------+
| 5800-1700-9800-7755 | Credit Card        |                -9000 |
+---------------------+--------------------+----------------------+
| 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+---------------------+--------------------+----------------------+

In [ ]:
# Along with first step, Display other columns with corresponding linking account number, account types
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    b.Linking_Account_Number
FROM
    Bnk_Acc_Details AS a
LEFT JOIN
    Bank_Acc_Relationship_Details1 AS b ON a.Account_Number = b.Account_Number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+--------------------+--------------------------+
| Account_Number      | Account_type       | Linking_Account_Number   |
+=====================+====================+==========================+
| 4000-1956-3456      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------------+--------------------+--------------------------+
| 4000-1956-2001      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------------+--------------------+--------------------------+
| 4000-1956-2900      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------------+--------------------+--------------------------+
| 4000-1956-3401      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-5102      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-5698      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5000-1700-9800      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------------+--------------------+--------------------------+
| 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------------+--------------------+--------------------------+
| 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------------+--------------------+--------------------------+
| 5000-1700-7755      | SAVINGS            |                          |
+---------------------+--------------------+--------------------------+
| 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------------+--------------------+--------------------------+
| 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------------+--------------------+--------------------------+

##9.a) Display records of All Accounts , their Account_types, the transaction amount.
##9.b) Along with first step, Display other columns with corresponding linking account number, account types
##9.c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
# Display records of All Accounts , their Account_types, the transaction amount.
query = """
    SELECT
        a.Customer_id,
        a.Account_type,
        t.Transaction_amount
    FROM
        Bnk_Acc_Details AS a
    LEFT JOIN
        BK_ACCOUNT_TRANSACTION  AS t ON a.Account_Number = t.Account_Number  ;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+--------------------+----------------------+
|   Customer_id | Account_type       |   Transaction_amount |
+===============+====================+======================+
|        123001 | SAVINGS            |                -2000 |
+---------------+--------------------+----------------------+
|        123001 | RECURRING DEPOSITS |                      |
+---------------+--------------------+----------------------+
|        123002 | SAVINGS            |                -6000 |
+---------------+--------------------+----------------------+
|        123002 | SAVINGS            |                -4000 |
+---------------+--------------------+----------------------+
|        123002 | SAVINGS            |                -3000 |
+---------------+--------------------+----------------------+
|        123002 | SAVINGS            |                -1600 |
+---------------+--------------------+----------------------+
|        123002 | SAVINGS            |                23000 |
+---------------+--------------------+----------------------+
|        123002 | RECURRING DEPOSITS |                      |
+---------------+--------------------+----------------------+
|        123003 | SAVINGS            |                      |
+---------------+--------------------+----------------------+
|        123004 | RECURRING DEPOSITS |                40000 |
+---------------+--------------------+----------------------+
|        123004 | SAVINGS            |                 8000 |
+---------------+--------------------+----------------------+
|        123005 | SAVINGS            |                -6500 |
+---------------+--------------------+----------------------+
|        123006 | SAVINGS            |                -9000 |
+---------------+--------------------+----------------------+
|        123007 | SAVINGS            |                      |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                10000 |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                20000 |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                40000 |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                49000 |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                50000 |
+---------------+--------------------+----------------------+
|        123007 | RECURRING DEPOSITS |                60000 |
+---------------+--------------------+----------------------+
|        123007 | Credit Card        |                -8000 |
+---------------+--------------------+----------------------+
|        123007 | Credit Card        |                -5000 |
+---------------+--------------------+----------------------+
|        123007 | Credit Card        |                -2500 |
+---------------+--------------------+----------------------+
|        123007 | Add-on Credit Card |                      |
+---------------+--------------------+----------------------+
|        123008 | SAVINGS            |                      |
+---------------+--------------------+----------------------+
|        123006 | Credit Card        |                -9000 |
+---------------+--------------------+----------------------+
|        123006 | Add-on Credit Card |               -11000 |
+---------------+--------------------+----------------------+

In [ ]:
# Along with first step, Display other columns with corresponding linking account number, account types
query = """
SELECT
    a.customer_id,
    a.Account_Number,
    a.Account_type,
    b.Linking_Account_Number
    FROM
    Bnk_Acc_Details AS a
LEFT JOIN
    Bank_Acc_Relationship_Details1 AS b ON a.Account_number = b.Account_number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

In [ ]:
# After retrieving all records of accounts and their linked accounts, display the transaction amount of accounts appeared in another column.
query = """
    SELECT
        a.customer_id,
        a.Account_Number,
        a.Account_type,
        b.Linking_Account_Number,
        t.Transaction_amount
    FROM
        Bnk_Acc_Details AS a
    LEFT JOIN
        Bank_Acc_Relationship_Details1 AS b ON a.Account_Number = b.Account_Number
    LEFT JOIN
        BK_ACCOUNT_TRANSACTION AS t ON a.Account_Number = t.Account_Number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+----------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |   Transaction_amount |
+===============+=====================+====================+==========================+======================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |                -2000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -6000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -4000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -3000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                -1600 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |                23000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |                40000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |                          |                 8000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |                          |                -6500 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |                          |                -9000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                10000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                20000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                40000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                49000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                50000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |                60000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -8000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -5000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |                -2500 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                          |                      |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |                -9000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |               -11000 |
+---------------+---------------------+--------------------+--------------------------+----------------------+

##10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows

In [ ]:
query = """
SELECT
    c.customer_id,
    c.customer_name
FROM custer_2 c
JOIN Bnk_Acc_Details a ON c.customer_id = a.customer_id
WHERE a.Account_type IN ('SAVINGS','Credit Card')
GROUP BY c.customer_id, c.customer_name
HAVING COUNT(DISTINCT a.Account_type) = 2
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+
|   customer_id | customer_name   |
+===============+=================+
|        123006 | Noah            |
+---------------+-----------------+
|        123007 | Charlie         |
+---------------+-----------------+

## 11)  Display  records of SAVINGS account linked with Credit cards" account_type and its credit
## aggregate sum of transaction amount. (1 Row)
## Ref: Check linking relationship in bank_transaction_relationship_details.
        # Check transaction_amount in bank_account_transaction.

In [ ]:
# Display records of SAVINGS account linked with Credit cards" account_type and its credit aggregate sum of transaction amount. (1 Row)
query = """
SELECT
    a.Account_Number,
    SUM(t.Transaction_amount) AS total_transaction_amount
FROM Bnk_Acc_Details a
JOIN BK_ACCOUNT_TRANSACTION t ON a.Account_Number = t.Account_Number
JOIN Bank_Acc_Relationship_Details1 r ON a.Account_Number = r.Linking_Account_Number
WHERE a.Account_type = 'SAVINGS' AND r.Account_type = 'Credit Card'
GROUP BY a.Account_Number;
"""
cursor.execute(query)
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
from tabulate import tabulate
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+------------------+----------------------------+
| Account_Number   |   total_transaction_amount |
+==================+============================+
| 4000-1956-5698   |                      -9000 |
+------------------+----------------------------+